body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
  }
  
  
  .contenedor-form {
    padding: 1px 0 1px 0;
    background-color: #FFF;
  }
  .mensaje {
    text-align: center;
    font-size: 2rem;
  }
  
  .error {
    padding: 1rem!important;
    color:white;
    margin-top: 3rem;
    text-align: center;
    text-emphasis: left;
  }
  
  .error {
    padding: 1rem!important;
    text-align: center!important;
    color: #FFF!important;
  }

  .button{
      margin-top: 1rem;
  }

  .balance{
    font-size: 20px;
    font-weight: bold;
    padding: 1rem;
    margin-bottom: 4rem;
    
  }
  /* .balancetop{
    text-align: right;
    font-weight: bold;
    margin-bottom: 4rem;
    font-size: 20px;
  } */